<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <br />
      <h2 class="mt-5 mb-3">Please type a password</h2>
      <form id="password">
        <label for="password">
          <input type="password" id="field" [(ngModel)]="password" (input)="checkPasswordStrength()" name="password"
            placeholder="at least 8 digits" (submit)="sendPassword()" />

          <ul>
            <li id="easy" [style.color]="easyColor">The password is easy</li>
            <li id="medium" [style.color]="mediumColor">
              The password is medium
            </li>
            <li id="strong" [style.color]="strongColor">
              The password is strong
            </li>
          </ul>
          <button type="submit" class="btn btn-primary" (click)="sendPassword()">
            Enter
          </button>
        </label>
      </form>
    </div>
  </div>
</div>